@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Shrikhand&display=swap');

.NavBar{
    background-color: #2c0348;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 360px;
}

.NavBarBlock{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.logoSection{
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.logo{
    min-width: 30px;
    min-height: 30px;
    background-image: linear-gradient(to right, #072084, #8007d0, #d507ba);
    border-radius: 30%;
}

.LogoTitle{
    margin-left: 5px;
    color: white;
    font-family: 'Shrikhand';
    text-decoration: none;
    line-height: 2;
    font-size: xx-large;
}

